* {
    font-family: 'Anton';
    color: #ede8e8;
}

body {
    position: relative;
}

p {
    font-family: sofia-pro,Century Gothic,sans-serif;
}

section {
    margin: 15px 0px 20px 0px;
}

.nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    position: fixed;
    top: 0px;
    left: 0;
    align-items: center;
    width: -webkit-fill-available;
    z-index: 4;
    height: 109px;
    border-radius: 0px 0px 11px 11px;
    transition: background 1.5s;
    align-items: start;
}


.nav ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    grid-column: 3 / 8;
    border-bottom: 2px solid rgba(255,255,255,.4);
}

.nav li {
    float: left;
}

.nav li a {
    font-size: 24px;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 3px 3px 13px black;
}

.nav li a:hover:not(.active) {
   /* background-color: #111;*/
}

.nav .active {
    /*background-color: #04AA6D;*/
}

#logo {
    width: 46px;
    font-size: 27px;
    grid-column: 2;
    text-shadow: 2px 2px black;
    margin: auto;
}


.hero {
  /*  height: 62vh; */
    position: relative;
}

.hero-caption {
    position: absolute;
    width: 50%;
    text-align: center;
    top: 100px;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
}

.hero-caption h2 {
    font-size: 48px;
    text-shadow: 2px 2px 6px black;
}

.hero-cta-wrap {
    position: absolute;
    width: 50%;
    text-align: center;
    bottom: 0;
    display: flex;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
    background: #f0ead9;
    align-items: center;
    justify-content: space-evenly;
    padding-right: 28px;
}

.cta-btns {
    display: flex;
    gap: 29px;
}

.cta-btns a, span {
    text-transform: none !important;
    white-space: nowrap;
}


a.cta-btn-stay span {
    display: block;
}

a.cta-btn-tickets span {
    display: block;
}


.hero-vid {
    height: fit-content;
    width: -webkit-fill-available;
}

.btn-orange {
    background-color: #e84d0e !important;
    border-color: #e84d0e !important;
    /*text-shadow: 2px 2px black;*/
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    padding: 6px;
    border-radius: 5px;
}

#land-1-title {
    text-align: center;
    color: black;
    font-family: sofia-pro,Century Gothic,sans-serif;
    margin: 0px 0px 14px 0px;
    font-size: 47px;
    text-shadow: 1px 1px burlywood;
}

.pic-link-wrap {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.pic-link-wrap img {
    position: relative;
    width: inherit;
}

.pic-link-wrap img:hover {
    opacity: 55%;
    transition: opacity 1s;
}





.pic-link-pic {
    position: relative;
    width: 370px;
}

.pic-link-pic h2 {
    position: absolute;
    bottom: 0px;
    text-shadow: 2px 3px 10px black;
    left: 13px;
    font-size: 30px;
}

.text-trailer-wrap {
    display: flex;
    justify-content: space-evenly;
}

.text-trailer-text {
    width: 490px;
}

.text-trailer-text h3, p {
    color: black;
}

.text-trailer-trailer video {
    width: 540px;
}

.btn-green {
    background-color: #596831 !important;
    border-color: #596831 !important;
   /* text-shadow: 2px 2px black; */
    text-decoration: none;
    cursor: pointer;
    text-transform: uppercase;
    padding: 6px;
    border-radius: 5px;
}

h4.ticket-title {
    font-family: sofia-pro,Century Gothic,sans-serif;
    color: black;
}

.ticket {
    background: rgb(246, 241, 230);
    width: 491px;
    height: 161px;
    padding: 15px;
    margin: 20px;
}

.ticket h1, .ticket h2, .ticket h3, .ticket a, .ticket input[type="number"] {
    color: black;
    font-family: sofia-pro, "Century Gothic", sans-serif;
    font-weight: 100;
}

.ticket input[type="number"] {
    width: 67.2px;
    padding: 10px;
    font-size: 23px;
    border-radius: 23px;
    margin-bottom: 7px;
    border: 3px solid;
}

.qnty-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-container * {
    color: black;
    font-family: sofia-pro, "Century Gothic", sans-serif;
    font-weight: 100;
}

section.sec-tickets {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.ticket-container {
    grid-column: 2;
}

.cart-container {
    grid-column: 4 / 7;
    width: auto;
    padding: 17px;
    background: rgb(164, 138, 118);
    display: grid;
    border-radius: 5px;
}

.cart-price {
    background: rgb(252, 206, 76);
    outline: dashed;
    font-size: 26px;
    height: 60px;
    margin-bottom: 13px;
    display: flex;
    outline-offset: 5px;
    align-items: center;
    justify-content: center;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    margin: 28px;
}

.cart-qnty-price {
    display: flex;
    gap: 46px;
}

.chk-info {
    display: grid;
    grid-column: 1 / 8;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.address-container {
    grid-column: 4 / 7;
}

.chk-info .address-container input {
    width: 100%;
    margin: 8px;
    padding: 14px;
}

.chk-info * {
    color: black;
    font-family: sofia-pro, "Century Gothic", sans-serif;
    font-weight: 100;
}

.address-container input.btn-green {
    color: white;
    font-weight: 700;
}

.cart-discount {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 26px;
}

.cart-discount input {
    width: 100%;
    padding: 5px;
    margin: 3px;
    color: white;
}

#GoPayBtn {
    width: 209px;
    font-size: 22px;
    position: absolute;
    bottom: 0;
}

.footr {
    background-color: rgb(164, 138, 118);
    padding: 2rem;
    display: flex;
    gap: 28px;
    color: rgb(255, 255, 255);
    align-items: center;
}

.footr h2 {
    float: right;
    margin-left: auto;
}

