
body {
    background-image: url('https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg');
    background-size: cover;
    -webkit-animation: slidein 100s;
    animation: slidein 100s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

@-webkit-keyframes slidein {
    from {
        background-position: top;
        background-size: 3000px;
    }

    to {
        background-position: -100px 0px;
        background-size: 2750px;
    }
}

@keyframes slidein {
    from {
        background-position: top;
        background-size: 3000px;
    }

    to {
        background-position: -100px 0px;
        background-size: 2750px;
    }
}

.mainCenter {
    grid-column: 1 / 4;
    min-height: 62vh;
    margin: 40px;
}

.schedule {
    grid-template-areas:
        "monday tuesday wednesday thursday friday saturday sunday"
        "monday0 tuesday0 wednesday0 thursday0 friday0 saturday0 sunday0"
        "monday1 tuesday1 wednesday1 thursday1 friday1 saturday1 sunday1"
        "monday2 tuesday2 wednesday2 thursday2 friday2 saturday2 sunday2";
    gap: 5px;
    border-radius: 30px;
    display: grid;
    padding: 40px;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgb(63 94 251 / 7%) 0%, rgb(34 31 32 / 64%) 100%);
    max-width: 80vw;
    margin: auto;
}

.Event {
    background: #e2f9f6bd;
    padding: 21px;
    border-radius: 19px;
    min-height: 70px;
    min-width: 70px;
    justify-items: center;
}

body {
    margin: 0px;
}


.mainwrap {
    min-height: 100vh;
    position: relative;
    display: grid;
    grid-template-areas:
        "nav nav nav"
        "left center right"
        "footer footer footer";
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto auto auto;
    overflow: hidden;
}

.nav {
    display: grid;
    grid-column-start: nav;
    grid-column-end: nav;
    grid-template-rows: 1fr 1fr 1fr;
    z-index: 2;
}

ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    margin: auto;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

li a:hover:not(.active, .logo, .fa) {
    color: #198aff;
    border-bottom: 1px solid #198aff;
}

.active {
    color: #198aff;
    border-bottom: 1px solid #198aff;
}



.foot {
    display: grid;
    background: rgba(27, 27, 27, 1);
    grid-column: footer;
    z-index: 2;
    grid-template-columns: 1fr 1fr;
    padding: 2%;
    text-align: center;
    grid-template-rows: auto auto;
    color: #d2d2d2;
}

.foot ul li {
    display: contents;
}

.fa-instagram:hover ~ .fa-facebook {
    width: 100px
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-facebook {
    background: #2B5998;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa:hover {
    opacity: 0.7;
}

.container {
    border-radius: 5px;
    background-color: #afafaf63;
    padding: 20px;
    grid-column-start: 1;
    margin: auto;
    width: 80%;
    z-index: 2;
    grid-column-end: 5;
    max-width: 50vw;
}

input[type=text], input[type=email], input[type=password], input[type="date" i], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit], input[type=button], button {
    background-color: #2f85df;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #7dbcff;
}

span.field-validation-error {
    width: unset;
    display: inherit;
    color: #e60101;
}

form span {
    float: right;
}