@page
@model Zoo_Bazaar.Pages.HomeModel
@{
    Layout = null;
}
<head>
    <link href="~/css/stylesheet1.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Anton' rel='stylesheet'>

</head>

<div class="nav">
    <h2 id="logo">Zoo Bazaar</h2>
    <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#news">News</a></li>
      <li><a href="#contact">Contact</a></li>
      <li style="float:right"><a class="active" href="#about">About</a></li>
    </ul>
</div>


<div class="hero">
    <video class="hero-vid" autoplay muted>
        <source src="~/videos/zoobazaar-promo1.mp4" type="video/mp4" />
    </video>
    <div class="hero-caption">
        <h2>The elephants area will be expanded!</h2>
        <p>
            <a class="btn-orange" href="#discover">Discover more</a>
        </p>
    </div>
</div>

<div class="main">
    <section class="land-1">
        <div class="pic-link-wrap">
            <img src="~/images/zb_elphants.jpg" />
            <img src="~/images/zb_hotel.jpg" />
            <img src="~/images/zb_lake.jpg" />
            <img src="~/images/zb_safari.jpg" />
        </div>
    </section>





</div>