@page
@using LogicCL
@model Zoo_Bazaar.Pages.TicketsModel
@{
    Layout = null;
}

<head>
    <link href="~/css/stylesheet1.css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Anton' rel='stylesheet'>

</head>

<div class="nav" id="nav">
    <h2 id="logo">Zoo Bazaar</h2>
    <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#news">News</a></li>
        <li><a href="#contact">Contact</a></li>
        <li style="float:right"><a class="active" href="#about">Tickets</a></li>
    </ul>
</div>


<div class="hero">
    <video class="hero-vid" autoplay muted>
        <source src="~/videos/zoobzr-promo_resized.mp4" type="video/mp4" />
    </video>
</div>

<div class="main">
    <section class="sec-tickets">
        <form method="post" asp-page-handler="Checkout" class="chk-info">
        <div class="ticket-container">

            @foreach (Ticket ticket in Model.tickets)
            {
                <div class="ticket">
                    <h2>
                        @ticket.Name
                    </h2>
                    <h3>
                        @ticket.Description
                    </h3>
                    <div class="qnty-price">
                            @{string a = "row" + ticket.Id.ToString();}
                        <input type="number" name="@a" />
                        <h2>$@ticket.Price.ToString("N0")</h2>
                    </div>
                    </div>
            }
           

          
        </div>


        <div class="address-container">
            <h3>Personal information</h3>
                <label asp-for="Order.Name">Full Name</label>
                <span asp-validation-for="Order.Name"></span>
                <input asp-for="Order.Name" type="text" placeholder="Your fullname..">

                <label asp-for="Order.PhoneNumber">Phone number</label>
                <span asp-validation-for="Order.PhoneNumber"></span>
                <input asp-for="Order.PhoneNumber" type="text" placeholder="Your phone number..">

                <label asp-for="Order.Email">Email</label>
                <span asp-validation-for="Order.Email"></span>
                <input asp-for="Order.Email" placeholder="Your email..">

                

         


                <input type="submit" value="Continue to payment" class="btn-green">
            </>
        </div>
        </form>

    </section>
</div>






<script>
    var prevScrollpos = window.pageYOffset;
    window.onscroll = function () {
        var currentScrollPos = window.pageYOffset;
        if (currentScrollPos === 0) {
            document.getElementById("nav").style.background = "unset";
        } else {
            document.getElementById("nav").style.background = "#596831";
        }
        prevScrollpos = currentScrollPos;
    }
</script>
